In [46]:
paragraph="This is the NLP session that is going on and finally we are happy. Is everyone happy. Ineuron is a company where we teach all the tech"

In [47]:
import nltk

In [48]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mdimt\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [49]:
sentences=nltk.sent_tokenize(paragraph)

In [50]:
## Tokenization
nltk.word_tokenize(paragraph)

['This',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'Ineuron',
 'is',
 'a',
 'company',
 'where',
 'we',
 'teach',
 'all',
 'the',
 'tech']

In [51]:
from nltk.stem import PorterStemmer

In [52]:
Stemmer=PorterStemmer()

In [53]:
Stemmer.stem("happy")

'happi'

In [54]:
Stemmer.stem("organizations")

'organ'

In [55]:
from nltk.stem import WordNetLemmatizer

In [56]:
lemmatizer=WordNetLemmatizer()

In [57]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mdimt\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [58]:
lemmatizer.lemmatize("history")

'history'

In [59]:
sentences

['This is the NLP session that is going on and finally we are happy.',
 'Is everyone happy.',
 'Ineuron is a company where we teach all the tech']

In [60]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[Stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['thi', 'is', 'the', 'nlp', 'session', 'that', 'is', 'go', 'on', 'and', 'final', 'we', 'are', 'happi', '.']
['is', 'everyon', 'happi', '.']
['ineuron', 'is', 'a', 'compani', 'where', 'we', 'teach', 'all', 'the', 'tech']

In [61]:
corpus

['thi is the nlp session that is go on and final we are happi .',
 'is everyon happi .',
 'ineuron is a compani where we teach all the tech']

In [62]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['This', 'is', 'the', 'NLP', 'session', 'that', 'is', 'going', 'on', 'and', 'finally', 'we', 'are', 'happy', '.']
['Is', 'everyone', 'happy', '.']
['Ineuron', 'is', 'a', 'company', 'where', 'we', 'teach', 'all', 'the', 'tech']

In [63]:
paragraph="""
Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]

He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.
"""

In [64]:
paragraph

"\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.\n"

In [65]:
sentences=nltk.sent_tokenize(paragraph)

In [66]:
sentences

['\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [67]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['Ratan', 'Naval', 'Tata', '(', 'born', '28', 'December', '1937', ')', 'is', 'an', 'Indian', 'industrialist', ',', 'philanthropist', 'and', 'former', 'chairman', 'of', 'Tata', 'Sons', '.']
['He', 'wa', 'a', 'chairman', 'of', 'the', 'Tata', 'Group', 'from', '1990', 'to', '2012', ',', 'and', 'interim', 'chairman', 'from', 'October', '2016', 'through', 'February', '2017', '.']
['He', 'continues', 'to', 'head', 'it', 'charitable', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'In', '2008', ',', 'he', 'received', 'the', 'Padma', 'Vibhushan', ',', 'the', 'second', 'highest', 'civilian', 'honour', 'in', 'India', ',', 'after', 'receiving', 'the', 'Padma', 'Bhushan', ',', 'the', 'third', 'highest', 'civilian', 'honour', 'in', '2000', '.']
['[', '4', ']', 'He', 'is', 'the', 'son', 'of', 'Naval', 'Tata', ',', 'who', 'wa', 'adopted', 'by', 'Ratanji', 'Tata', ',', 'son', 'of', 'Jamsetji', 'Tata', ',', 'the', 'founder', 'of', 'the', 'Tata', 'Group', '.']
['He', 'graduated', 'from', 'the', 'Cornell', 'University', 'College', 'of', 'Architecture', 'with', 'a', 'bachelor', "'s", 'degree', 'in', 'architecture', '.']
['[', '5', ']', 'He', 'joined', 'Tata', 'in', '1961', ',', 'where', 'he', 'worked', 'on', 'the', 'shop', 'floor', 'of', 'Tata', 'Steel', '.']
['He', 'later', 'succeeded', 'J.', 'R.', 'D.', 'Tata', 'a', 'chairman', 'of', 'Tata', 'Sons', 'upon', 'the', 'latter', "'s", 'retirement', 'in', '1991', '.']
['Under', 'his', 'tenure', 'the', 'Tata', 'Group', 'acquired', 'Tetley', ',', 'Jaguar', 'Land', 'Rover', ',', 'and', 'Corus', ',', 'in', 'an', 'attempt', 'to', 'turn', 'Tata', 'from', 'a', 'largely', 'India-centric', 'group', 'into', 'a', 'global', 'business', '.']
['Tata', 'is', 'also', 'one', 'of', 'the', 'largest', 'philanthropist', 'in', 'the', 'world', ',', 'having', 'donated', 'around', '60–65', '%', 'of', 'his', 'income', 'to', 'charity', '.']

In [68]:
corpus

['Ratan Naval Tata ( born 28 December 1937 ) is an Indian industrialist , philanthropist and former chairman of Tata Sons .',
 'He wa a chairman of the Tata Group from 1990 to 2012 , and interim chairman from October 2016 through February 2017 .',
 'He continues to head it charitable trust .',
 '[ 2 ] [ 3 ] In 2008 , he received the Padma Vibhushan , the second highest civilian honour in India , after receiving the Padma Bhushan , the third highest civilian honour in 2000 .',
 '[ 4 ] He is the son of Naval Tata , who wa adopted by Ratanji Tata , son of Jamsetji Tata , the founder of the Tata Group .',
 "He graduated from the Cornell University College of Architecture with a bachelor 's degree in architecture .",
 '[ 5 ] He joined Tata in 1961 , where he worked on the shop floor of Tata Steel .',
 "He later succeeded J. R. D. Tata a chairman of Tata Sons upon the latter 's retirement in 1991 .",
 'Under his tenure the Tata Group acquired Tetley , Jaguar Land Rover , and Corus , in an attempt to turn Tata from a largely India-centric group into a global business .',
 'Tata is also one of the largest philanthropist in the world , having donated around 60–65 % of his income to charity .']

In [69]:
lemmatizer.lemmatize("going")

'going'

In [70]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[Stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'is', 'an', 'indian', 'industrialist', ',', 'philanthropist', 'and', 'former', 'chairman', 'of', 'tata', 'son', '.']
['he', 'wa', 'a', 'chairman', 'of', 'the', 'tata', 'group', 'from', '1990', 'to', '2012', ',', 'and', 'interim', 'chairman', 'from', 'octob', '2016', 'through', 'februari', '2017', '.']
['he', 'continu', 'to', 'head', 'it', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'in', '2008', ',', 'he', 'receiv', 'the', 'padma', 'vibhushan', ',', 'the', 'second', 'highest', 'civilian', 'honour', 'in', 'india', ',', 'after', 'receiv', 'the', 'padma', 'bhushan', ',', 'the', 'third', 'highest', 'civilian', 'honour', 'in', '2000', '.']
['[', '4', ']', 'he', 'is', 'the', 'son', 'of', 'naval', 'tata', ',', 'who', 'wa', 'adopt', 'by', 'ratanji', 'tata', ',', 'son', 'of', 'jamsetji', 'tata', ',', 'the', 'founder', 'of', 'the', 'tata', 'group', '.']
['he', 'graduat', 'from', 'the', 'cornel', 'univers', 'colleg', 'of', 'architectur', 'with', 'a', 'bachelor', "'s", 'degre', 'in', 'architectur', '.']
['[', '5', ']', 'he', 'join', 'tata', 'in', '1961', ',', 'where', 'he', 'work', 'on', 'the', 'shop', 'floor', 'of', 'tata', 'steel', '.']
['he', 'later', 'succeed', 'j.', 'r.', 'd.', 'tata', 'as', 'chairman', 'of', 'tata', 'son', 'upon', 'the', 'latter', "'s", 'retir', 'in', '1991', '.']
['under', 'hi', 'tenur', 'the', 'tata', 'group', 'acquir', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'and', 'coru', ',', 'in', 'an', 'attempt', 'to', 'turn', 'tata', 'from', 'a', 'larg', 'india-centr', 'group', 'into', 'a', 'global', 'busi', '.']
['tata', 'is', 'also', 'one', 'of', 'the', 'largest', 'philanthropist', 'in', 'the', 'world', ',', 'have', 'donat', 'around', '60–65', '%', 'of', 'hi', 'incom', 'to', 'chariti', '.']

In [71]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) is an indian industrialist , philanthropist and former chairman of tata son .',
 'he wa a chairman of the tata group from 1990 to 2012 , and interim chairman from octob 2016 through februari 2017 .',
 'he continu to head it charit trust .',
 '[ 2 ] [ 3 ] in 2008 , he receiv the padma vibhushan , the second highest civilian honour in india , after receiv the padma bhushan , the third highest civilian honour in 2000 .',
 '[ 4 ] he is the son of naval tata , who wa adopt by ratanji tata , son of jamsetji tata , the founder of the tata group .',
 "he graduat from the cornel univers colleg of architectur with a bachelor 's degre in architectur .",
 '[ 5 ] he join tata in 1961 , where he work on the shop floor of tata steel .',
 "he later succeed j. r. d. tata as chairman of tata son upon the latter 's retir in 1991 .",
 'under hi tenur the tata group acquir tetley , jaguar land rover , and coru , in an attempt to turn tata from a larg india-centr group into a global busi .',
 'tata is also one of the largest philanthropist in the world , have donat around 60–65 % of hi incom to chariti .']

In [72]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mdimt\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [73]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [74]:
stop_words=stopwords.words('english')

In [75]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [76]:
for i in ["changes","change","changing","changer","changeable"]:
    print(lemmatizer.lemmatize(i))

change
change
changing
changer
changeable

In [77]:
print("better :", lemmatizer.lemmatize("better", pos ="a"))

better : good

In [78]:
lemmatizer.lemmatize("was")

'wa'

In [79]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) is an indian industrialist , philanthropist and former chairman of tata son .',
 'he wa a chairman of the tata group from 1990 to 2012 , and interim chairman from octob 2016 through februari 2017 .',
 'he continu to head it charit trust .',
 '[ 2 ] [ 3 ] in 2008 , he receiv the padma vibhushan , the second highest civilian honour in india , after receiv the padma bhushan , the third highest civilian honour in 2000 .',
 '[ 4 ] he is the son of naval tata , who wa adopt by ratanji tata , son of jamsetji tata , the founder of the tata group .',
 "he graduat from the cornel univers colleg of architectur with a bachelor 's degre in architectur .",
 '[ 5 ] he join tata in 1961 , where he work on the shop floor of tata steel .',
 "he later succeed j. r. d. tata as chairman of tata son upon the latter 's retir in 1991 .",
 'under hi tenur the tata group acquir tetley , jaguar land rover , and coru , in an attempt to turn tata from a larg india-centr group into a global busi .',
 'tata is also one of the largest philanthropist in the world , have donat around 60–65 % of hi incom to chariti .']

In [80]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i].lower())
    words=[lemmatizer.lemmatize(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'december', '1937', ')', 'indian', 'industrialist', ',', 'philanthropist', 'former', 'chairman', 'tata', 'son', '.']
['chairman', 'tata', 'group', '1990', '2012', ',', 'interim', 'chairman', 'october', '2016', 'february', '2017', '.']
['continues', 'head', 'charitable', 'trust', '.']
['[', '2', ']', '[', '3', ']', '2008', ',', 'received', 'padma', 'vibhushan', ',', 'second', 'highest', 'civilian', 'honour', 'india', ',', 'receiving', 'padma', 'bhushan', ',', 'third', 'highest', 'civilian', 'honour', '2000', '.']
['[', '4', ']', 'son', 'naval', 'tata', ',', 'adopted', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['graduated', 'cornell', 'university', 'college', 'architecture', 'bachelor', "'s", 'degree', 'architecture', '.']
['[', '5', ']', 'joined', 'tata', '1961', ',', 'worked', 'shop', 'floor', 'tata', 'steel', '.']
['later', 'succeeded', 'j.', 'r.', 'd.', 'tata', 'chairman', 'tata', 'son', 'upon', 'latter', "'s", 'retirement', '1991', '.']
['tenure', 'tata', 'group', 'acquired', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'corus', ',', 'attempt', 'turn', 'tata', 'largely', 'india-centric', 'group', 'global', 'business', '.']
['tata', 'also', 'one', 'largest', 'philanthropist', 'world', ',', 'donated', 'around', '60–65', '%', 'income', 'charity', '.']

In [81]:
corpus

['ratan naval tata ( born 28 december 1937 ) indian industrialist , philanthropist former chairman tata son .',
 'chairman tata group 1990 2012 , interim chairman october 2016 february 2017 .',
 'continues head charitable trust .',
 '[ 2 ] [ 3 ] 2008 , received padma vibhushan , second highest civilian honour india , receiving padma bhushan , third highest civilian honour 2000 .',
 '[ 4 ] son naval tata , adopted ratanji tata , son jamsetji tata , founder tata group .',
 "graduated cornell university college architecture bachelor 's degree architecture .",
 '[ 5 ] joined tata 1961 , worked shop floor tata steel .',
 "later succeeded j. r. d. tata chairman tata son upon latter 's retirement 1991 .",
 'tenure tata group acquired tetley , jaguar land rover , corus , attempt turn tata largely india-centric group global business .',
 'tata also one largest philanthropist world , donated around 60–65 % income charity .']

In [82]:
from sklearn.feature_extraction.text import CountVectorizer

In [83]:
sentences

['\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [84]:
cv=CountVectorizer(binary=True)

In [85]:
import re
corpus=[]
for i in range(len(sentences)):
    text=re.sub('[^a-zA-z0-9]',' ',sentences[i])
    text=text.lower()
    words=text.split()
    words=[Stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', 'born', '28', 'decemb', '1937', 'indian', 'industrialist', 'philanthropist', 'former', 'chairman', 'tata', 'son']
['chairman', 'tata', 'group', '1990', '2012', 'interim', 'chairman', 'octob', '2016', 'februari', '2017']
['continu', 'head', 'charit', 'trust']
['[2][3]', '2008', 'receiv', 'padma', 'vibhushan', 'second', 'highest', 'civilian', 'honour', 'india', 'receiv', 'padma', 'bhushan', 'third', 'highest', 'civilian', 'honour', '2000']
['[4]', 'son', 'naval', 'tata', 'adopt', 'ratanji', 'tata', 'son', 'jamsetji', 'tata', 'founder', 'tata', 'group']
['graduat', 'cornel', 'univers', 'colleg', 'architectur', 'bachelor', 'degre', 'architectur']
['[5]', 'join', 'tata', '1961', 'work', 'shop', 'floor', 'tata', 'steel']
['later', 'succeed', 'j', 'r', 'tata', 'chairman', 'tata', 'son', 'upon', 'latter', 'retir', '1991']
['tenur', 'tata', 'group', 'acquir', 'tetley', 'jaguar', 'land', 'rover', 'coru', 'attempt', 'turn', 'tata', 'larg', 'india', 'centric', 'group', 'global', 'busi']
['tata', 'also', 'one', 'largest', 'philanthropist', 'world', 'donat', 'around', '60', '65', 'incom', 'chariti']

In [86]:
corpus

['ratan naval tata born 28 decemb 1937 indian industrialist philanthropist former chairman tata son',
 'chairman tata group 1990 2012 interim chairman octob 2016 februari 2017',
 'continu head charit trust',
 '[2][3] 2008 receiv padma vibhushan second highest civilian honour india receiv padma bhushan third highest civilian honour 2000',
 '[4] son naval tata adopt ratanji tata son jamsetji tata founder tata group',
 'graduat cornel univers colleg architectur bachelor degre architectur',
 '[5] join tata 1961 work shop floor tata steel',
 'later succeed j r tata chairman tata son upon latter retir 1991',
 'tenur tata group acquir tetley jaguar land rover coru attempt turn tata larg india centric group global busi',
 'tata also one largest philanthropist world donat around 60 65 incom chariti']

In [87]:
from sklearn.feature_extraction.text import CountVectorizer

In [88]:
cv=CountVectorizer(binary=True, ngram_range=(1,2))

In [89]:
##applied BOW
cv.fit_transform(corpus).toarray()

array([[1, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 1]], dtype=int64)

In [93]:
## new test data
data=["I want to visit ratan tata"]

cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0]], dtype=int64)

In [ ]:
import pickle
pickle.dumb(open('tfidf.pkl','wb'))

In [98]:
cv.vocabulary_

{'ratan': 126,
 'naval': 114,
 'tata': 147,
 'born': 37,
 '28': 15,
 'decemb': 58,
 '1937': 0,
 'indian': 92,
 'industrialist': 94,
 'philanthropist': 123,
 'former': 68,
 'chairman': 42,
 'son': 140,
 'ratan naval': 127,
 'naval tata': 115,
 'tata born': 151,
 'born 28': 38,
 '28 decemb': 16,
 'decemb 1937': 59,
 '1937 indian': 1,
 'indian industrialist': 93,
 'industrialist philanthropist': 95,
 'philanthropist former': 124,
 'former chairman': 69,
 'chairman tata': 44,
 'tata son': 156,
 'group': 76,
 '1990': 4,
 '2012': 10,
 'interim': 96,
 'octob': 116,
 '2016': 12,
 'februari': 64,
 '2017': 14,
 'tata group': 154,
 'group 1990': 77,
 '1990 2012': 5,
 '2012 interim': 11,
 'interim chairman': 97,
 'chairman octob': 43,
 'octob 2016': 117,
 '2016 februari': 13,
 'februari 2017': 65,
 'continu': 52,
 'head': 80,
 'charit': 45,
 'trust': 164,
 'continu head': 53,
 'head charit': 81,
 'charit trust': 46,
 '2008': 8,
 'receiv': 130,
 'padma': 120,
 'vibhushan': 171,
 'second': 136,
 'highest': 82,
 'civilian': 48,
 'honour': 84,
 'india': 89,
 'bhushan': 35,
 'third': 162,
 '2000': 7,
 '2008 receiv': 9,
 'receiv padma': 131,
 'padma vibhushan': 122,
 'vibhushan second': 172,
 'second highest': 137,
 'highest civilian': 83,
 'civilian honour': 49,
 'honour india': 86,
 'india receiv': 91,
 'padma bhushan': 121,
 'bhushan third': 36,
 'third highest': 163,
 'honour 2000': 85,
 'adopt': 23,
 'ratanji': 128,
 'jamsetji': 100,
 'founder': 70,
 'son naval': 142,
 'tata adopt': 149,
 'adopt ratanji': 24,
 'ratanji tata': 129,
 'son jamsetji': 141,
 'jamsetji tata': 101,
 'tata founder': 153,
 'founder tata': 71,
 'graduat': 74,
 'cornel': 54,
 'univers': 167,
 'colleg': 50,
 'architectur': 27,
 'bachelor': 33,
 'degre': 60,
 'graduat cornel': 75,
 'cornel univers': 55,
 'univers colleg': 168,
 'colleg architectur': 51,
 'architectur bachelor': 28,
 'bachelor degre': 34,
 'degre architectur': 61,
 'join': 102,
 '1961': 2,
 'work': 173,
 'shop': 138,
 'floor': 66,
 'steel': 144,
 'join tata': 103,
 'tata 1961': 148,
 '1961 work': 3,
 'work shop': 174,
 'shop floor': 139,
 'floor tata': 67,
 'tata steel': 157,
 'later': 110,
 'succeed': 145,
 'upon': 169,
 'latter': 112,
 'retir': 132,
 '1991': 6,
 'later succeed': 111,
 'succeed tata': 146,
 'tata chairman': 152,
 'son upon': 143,
 'upon latter': 170,
 'latter retir': 113,
 'retir 1991': 133,
 'tenur': 158,
 'acquir': 21,
 'tetley': 160,
 'jaguar': 98,
 'land': 104,
 'rover': 134,
 'coru': 56,
 'attempt': 31,
 'turn': 165,
 'larg': 106,
 'centric': 40,
 'global': 72,
 'busi': 39,
 'tenur tata': 159,
 'group acquir': 78,
 'acquir tetley': 22,
 'tetley jaguar': 161,
 'jaguar land': 99,
 'land rover': 105,
 'rover coru': 135,
 'coru attempt': 57,
 'attempt turn': 32,
 'turn tata': 166,
 'tata larg': 155,
 'larg india': 107,
 'india centric': 90,
 'centric group': 41,
 'group global': 79,
 'global busi': 73,
 'also': 25,
 'one': 118,
 'largest': 108,
 'world': 175,
 'donat': 62,
 'around': 29,
 '60': 17,
 '65': 19,
 'incom': 87,
 'chariti': 47,
 'tata also': 150,
 'also one': 26,
 'one largest': 119,
 'largest philanthropist': 109,
 'philanthropist world': 125,
 'world donat': 176,
 'donat around': 63,
 'around 60': 30,
 '60 65': 18,
 '65 incom': 20,
 'incom chariti': 88}

In [99]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [100]:
tf_idf=TfidfVectorizer()

In [101]:
tf_idf.fit_transform(corpus).toarray()

array([[0.29485773, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.29485773,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.29485773, 0.        , 0.        , 0.21929439, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.29485773, 0.        , 0.        , 0.        ,
        0.        , 0.29485773, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.29485773, 0.29485773, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.250656  , 0.        , 0.        ,
        0.        , 0.250656  , 0.29485773, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.21929439,
        0.        , 0.        , 0.28746209, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.31617585, 0.        , 0.        ,
        0.        , 0.31617585, 0.31617585, 0.31617585, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.47029861, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31617585,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.23514931, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.31617585, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.31617585, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.15412276, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5       ,
        0.        , 0.        , 0.        , 0.5       , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.5       , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.5       , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.1934462 ,
        0.1934462 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.1934462 ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.38689239, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.38689239, 0.38689239, 0.        ,
        0.16444694, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.38689239, 0.        , 0.        , 0.        , 0.38689239,
        0.        , 0.        , 0.1934462 , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.1934462 , 0.        , 0.        , 0.        , 0.        ,
        0.1934462 , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.29761136, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29761136, 0.        , 0.        ,
        0.22134235, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.29761136, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25299685, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.29761136, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.44268469,
        0.        , 0.        , 0.58029332, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.63245553, 0.        , 0.        , 0.31622777, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.31622777, 0.        , 0.31622777,
        0.        , 0.        , 0.31622777, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31622777,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.31622777, 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.37930893, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.37930893, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.37930893, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.37930893, 0.        ,
        0.37930893, 0.        , 0.36979509, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.37930893, 0.        ],
       [0.        , 0.        , 0.        , 0.3523064 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.26202066, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.3523064 , 0.3523064 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.3523064 , 0.        , 0.        , 0.        , 0.26202066,
        0.        , 0.3523064 , 0.34346984, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.3523064 ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24335544, 0.        , 0.        ,
        0.        , 0.        , 0.24335544, 0.        , 0.        ,
        0.        , 0.24335544, 0.24335544, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.24335544, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.24335544, 0.        ,
        0.36198123, 0.        , 0.        , 0.        , 0.        ,
        0.20687435, 0.        , 0.        , 0.        , 0.24335544,
        0.        , 0.        , 0.24335544, 0.24335544, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.24335544, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.23725158, 0.24335544, 0.24335544,
        0.        , 0.        , 0.24335544, 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.3020573 , 0.3020573 , 0.        , 0.        , 0.3020573 ,
        0.        , 0.3020573 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.3020573 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.3020573 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.3020573 ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.3020573 ,
        0.        , 0.        , 0.        , 0.        , 0.3020573 ,
        0.        , 0.2567763 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.14724054, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.3020573 ]])